.list-group{
    margin-left: 7.8%;
    max-width: fit-content;
}
a{
    cursor: pointer;
}
a:hover {
    background-color:  rgb(241, 241, 170);
}


img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
  }

  .btn-primary{
    background-color: white;
    border-color: purple ;
    color: purple;
  }

  .btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
    color: white;
    background-color: purple;
    border-color: purple; /*set the color you want here*/
}