<div class="container">
  <div class="row">
      <div class="col-md-3">
          <img src="https://yt3.ggpht.com/ytc/AMLnZu-8sjAjWcDplvdPcOU0QSB5D-uQ-jCkDbKx7WnN=s900-c-k-c0x00ffffff-no-rj" width="100" height="100" alt="alternatetext">
      </div>
      <div class="col-md-6">           
                  <h1 style="text-align: center;"> Sriram Engineering College</h1>
                  <h4 style="text-align: center;"> An autonomous institution</h4>            
      </div>
      <div class="col-md-3">
          
          <img src="https://upload.wikimedia.org/wikipedia/en/thumb/4/49/Anna_University_Logo.svg/1200px-Anna_University_Logo.svg.png" width="100" height="100" alt="alternatetext">

      </div>
  </div>
<br>
    <marquee direction="left" 
        style="border:white 2px SOLID">
        For admissions and enquiries contact +918754206937. Mail to sriramvaikundaraman@gmail.com
    </marquee>
</div>
<router-outlet></router-outlet>
